<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ACCOUNT#</th>
        <th scope="col">TYPE</th>
        <th scope="col">JOINT HOLDER</th>
        <th scope="col">BALANCE</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let account of Accounts">
      <tr>
        <th scope="row">{{account.accountNumber}}</th>
        <td>{{account.accountType}}</td>
        <td>{{account.jointHolder}}</td>
        <td>{{ account.accountBalance | numeral:'$0,0.00' }}</td>
        <td><button class="btn" (click)="deposit(account.accountNumber)" ><i class="fas fa-funnel-dollar"></i> Deposit</button></td>
        <td><button class="btn" (click)="withdraw(account.accountNumber)"><i class="fas fa-funnel-dollar"></i> Withdraw</button></td>
      </tr>    
      
    </tbody>
  </table>