<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="https://i.ya-webdesign.com/images/bank-clip-savings-1.png" style="width:70%">
                        <h2 class="py-3">SAVINGS</h2>
                        <p>An NCB Regular Save account allows you to save money at your own pace.

                            You can make withdrawals or deposits when you need to while you continue to earn interest.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">OPEN YOUR ACCOUNT</h4>
                <form [formGroup]="Account" (ngSubmit)="openAccount()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input formControlName="fullname" placeholder="Full Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                          <input formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input formControlName="telephone" placeholder="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">                                  
                                  <select id="inputState" class="form-control" formControlName="accountType">
                                    <option selected value="">Account Type</option>
                                    <option>Savings</option>
                                    <option>Checking</option>
                                    <option>Joint Account</option>
                                  </select>
                        </div>
                        <div class="form-group col-md-6" *ngIf="Account.value.accountType == 'Joint Account'">
                            <input formControlName="jointHolder"  placeholder="Joint Holder Full Name" class="form-control" type="text">
                        </div>   

                        <div class="form-group col-md-12">
                                  <textarea formControlName="homeAddress" cols="40" rows="5" class="form-control" placeholder="Home Address"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-danger">Open Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>