<section class="testimonial py-5" id="testimonial">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 py-5 bg-primary text-white text-center ">
                    <div class=" ">
                        <div class="card-body">
                            <img src="http://pluspng.com/img-png/bank-balance-png-account-balance-cash-coins-money-icon-512.png" style="width:30%">
                            <h2 class="py-3">TRANSFER</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 py-5 border">
                    <h4 class="pb-4">TRANSFER BETWEEN ACCOUNT</h4>
                    <form [formGroup]="Transfer" (ngSubmit)="transfer()">
                        
                        
                        <div class="form-row">                                
                                <div class="form-group col-md-6">                                  
                                          <select id="inputState" class="form-control" formControlName="from">
                                            <option selected value="">Select From Account</option>
                                            <option [value]="account.accountNumber" *ngFor="let account of accounts">{{account.accountNumber}} - {{account.accountType}} - {{account.accountBalance | numeral:'$0,0.00' }} </option>
                                          </select>
                                </div>
                        </div>
                        <div class="form-row">                                
                                <div class="form-group col-md-6">                                  
                                          <select id="inputState" class="form-control" formControlName="to" >
                                            <option selected value="">Select to Account</option>
                                            <option [value]="account.accountNumber" *ngFor="let account of accounts" >{{account.accountNumber}} - {{account.accountType}} - {{account.accountBalance | numeral:'$0,0.00' }} </option>
                                          </select>
                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="sr-only" for="inlineFormInputGroupUsername">Ammout</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                            </div>
                                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" formControlName="amount" placeholder="Amount" />
                                        </div>
                                    </div>                          
                                </div>
                        <div class="form-row">
                            <button type="submit" class="btn btn-danger">Transfer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>