<section class="testimonial py-5" id="testimonial">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 py-5 bg-primary text-white text-center ">
                    <div class=" ">
                        <div class="card-body">
                            <img src="http://pluspng.com/img-png/bank-balance-png-account-balance-cash-coins-money-icon-512.png" style="width:30%">
                            <h2 class="py-3">BALANCE</h2>
                            <p *ngIf="account">{{ account.accountBalance | numeral:'$0,0.00' }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 py-5 border">
                    <h4 class="pb-4">DEPOSIT TO YOUR ACCOUNT</h4>
                    <form [formGroup]="Deposit" (ngSubmit)="deposit()">
                        
                        <div class="form-row">
                            <div class="col-sm-6 my-1">
                                <label class="sr-only" for="inlineFormInputGroupUsername">Deposit</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" formControlName="deposit" placeholder="Deposit" />
                                </div>
                            </div>                          
                        </div>
                        <div class="form-row">
                            <button type="submit" class="btn btn-danger">Deposit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>